body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con{
    text-align: center;
}

p {
  font-size: 18px;
}
small {
  font-size: 12px;
}

.text-scale {
  font-size: 20px;
}
